@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

body {
  background: #dce1df;
  color: #4f585e;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

a.btn2 {
  cursor: pointer;
  pointer-events: none;
  background: #696969;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

/* .no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn2:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
  cursor: pointer;
  pointer-events: none;
} */

/* .no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
} */

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  /* text-align: left; */
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}

div.card img {
  max-width: 300px;
}

div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}

div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}

div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}

div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}

div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}

div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}

div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}

div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}

div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 250px;
  text-align: center;
}

div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}

div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}

div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}

div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}

.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}

div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}

div.card.show div.card-title a.toggle-info span {
  top: 15px;
}

div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}

div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}

div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}

div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
  padding-bottom: 100px;
}

div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}

.card-flap .flap2 {
  height: 150px;
}

.btn {
  margin-top: 10px;
  margin-left: 10px;
}

body {
  background-color: rgb(209, 209, 209);
}

.flip-card-container {
  transition: filter 0.3s;
}

#nextButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  font-size: 20px;
}

footer {
  height: 50px;
  /* 根据需要设置空白的高度 */
}

.card-title p {
  font-size: medium;
}

.card-title {
  position: relative;
}

.checkmark {
  width: 32px;
  height: 32px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.checkmark::before {
  /* content: '\2713'; */
  color: white;
  font-size: 20px;
}

.blue-button {
  opacity: 0.7;
  color: white;
  pointer-events: none;
}

/* .red-button {
  opacity: 1;
  color: white;
  pointer-events: auto;
} */

.purple-button {
  opacity: 0.7;
  color: white;
  pointer-events: none;
}


.button-container {
  display: flex;
  justify-content: space-between;
}

.btn1,
.btn2,
.btn3 {
  background-color: #004346;
  width: 130px;
  height: 40px;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  flex: 1;
  border: none;
  border-style: outset;
  cursor: pointer;
  color: white;
}

.cancel {
  margin-top: 20px;
}

.cancel button {
  background-color: #004346;
  height: 40px;
  width: 230px;
  font-size: 16px;
  border: none;
  border-style: outset;
  cursor: pointer;
  color: white;
}

.cancelButton {
  pointer-events: none;
  opacity: 0.7;
}

/* .select {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
} */